*~
\#*
.\#*
*.[oad]
*.so
*.swp
*.swo
.svn
.hg
.hgignore
tags
TAGS
dump
dump.*
!dump.h
!dump.cc
!dump.cpp
*.log
*.gz
*.out
cscope.files
/cmake
/testbin/*
/bin/*
help
*.save
*.orig
.project
.cproject
/env.yml
/cmake.yml
/build
/pkg
/nbproject
*.diff
*.patch
!/build/build.sh
/include/ilplib-version.h
