#
# The configuration file for encoding identification.
#
# Notes:
# - the 1st line gives the range of N-grams
2

# - the 2nd line gives the length of profile
2000

# - Each line below gives a profile path and its encoding name.
# - You could comment out several lines in the list below if the identification
# of those encodings is not necessary.
# - The profiles are searched through in the sequence of the list below. So that
# if several profiles give the same value of distance measure, the candidate at
# the top of them would be returned as the result.

profile/en_train.utf8.profile          UTF-8
profile/cs_train.utf8.profile          UTF-8
profile/ct_train.utf8.profile          UTF-8
profile/jp_train.utf8.profile          UTF-8
profile/kr_train.utf8.profile          UTF-8
profile/cs_train.gb18030.profile       GB18030
profile/ct_train.big5.profile          BIG5
profile/jp_train.eucjp.profile         EUC-JP
profile/jp_train.sjis.profile          Shift_JIS
profile/kr_train.euckr.profile         EUC-KR
